#Protect{
    border-top: #66CC00 2px solid;
}

/*气候和能源*/

.topContainer,.topImg{
    width:100%;
    height: 550px;
    margin:2px 0;
    position: relative;
}

.topImg img{
    width:100%;
    height: 640px;
}

.topCue{
    position: absolute;
    width:240px;
    height:100px;
    margin-bottom: 40px;
    top:110px;
    left:90px;
}

.topCue p{
    color:#FFF;
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: bold;
}

.content{
    height:400px;
    width:600px;
    border-top: #66CC00 4px solid;
    border-radius: 8px;
    background: rgba(0,0,0, .6);
    position: absolute;
    top:165px;
    left: 90px;
    transition: all .6s ease 0s;
}
.content:hover{
    transition: .6s;
    transform: scale(108%);
    border-radius: 2em;
    cursor: unset;
}
.contTitle,.contTitleEN{
    width:500px;
    height:60px;
    color: #FFFFFF;
    font-weight: bold;

}
.contTitle{
    margin:20px 30px 10px 30px;
}

.contTitle p{
    font-family: 微软雅黑;
    letter-spacing: 4px;
    font-size: 54px;
}

.contTitleEN{
    margin:15px 30px 2px 30px;
    font-size: 29px;
}

.contTxt{
    color: #FFFFFF;
    margin: 2px 28px;
    letter-spacing: 2px;
    line-height: 34px;
    font-size: 18px;
}

.Project{
    width:1300px;
    height:600px;
    margin:120px 40px 40px 70px;
}
.protection{
    width:inherit;
    display: flex;
    flex-wrap: wrap;
}

.projectTitle{
    height:80px;
    margin:0 20px 20px 20px;
    padding: 0 22px;
    border-left: sandybrown 6px solid;
}

.projectTitle p{
    font-size: 56px;
    font-weight: bold;
}

.City,.Economics,.Region,.lowCarbon{
    width:300px;
    height:540px;
    display: inline-block;
    margin: 10px 8px;
}

/*#LowCarbon{*/
/*    margin-left: 18px;*/
/*}*/

.flip{
    width:300px;
    height:520px;
    position: absolute;
    perspective: 1000px;
    transition: .6s ease-in-out;
}

.flip img{
    width:290px;
    height:490px;
    border-radius: 1em;
}

.projectTxt{
    width:262px;
    height:480px;
    background: #66CC00;
    color: #FFFFFF;
    /*margin: auto;*/
    padding:5px 20px;
    font-size: 20px;
    line-height:36px;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 1em;
    position: absolute;
    backface-visibility:hidden;
    perspective: 1000px;
    transform: rotateY(-180deg);
    transition: .6s ease-in-out;
}

.projectTxt h3{
    width:275px;
    font-size: 38px;
    text-align: center;
    margin:35px 5px 20px 0 ;
}

.item:hover .flip{
    transform: rotateY(-180deg);
}
.item:hover .projectTxt{
    transform: rotateY(-360deg);
}

/*保护生物多样性*/
#CreatureTxt{
    height:460px;
    width:680px;
}

#CreatureTxt:hover{
    transition: .6s;
    transform: scale(104%);
    border-radius: 2em;
    cursor: unset;
}

.oceanProtect,.forestProtect{
    width:580px;
    height:585px;
    display: inline-block;
    margin:10px 30px;
}

#Ocean{
    margin-left: 40px;
}

.flipCreature img{
    width:580px;
    height:435px;
    border-radius: 8px;
}

.flipCreature{
    width:580px;
    height:435px;
    position: absolute;
    perspective: 1000px;
    transition: .6s ease-in-out;
}

.projectTxtCreature{
    width:520px;
    height:426px;
    padding:5px 25px 5px 40px;
    position: absolute;
    border-radius: 8px;
    backface-visibility:hidden;
    perspective: 1000px;
    transform: rotateY(-180deg);
    transition: .6s ease-in-out;
    background: #66CC00;
    color: #FFFFFF;
}

.projectTxtCreature p{
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 3px;
    font-weight: bold;
}

.projectTxtCreature h3{
    width:200px;
    font-size: 48px;
    text-align: center;
    margin:15px auto 10px auto  ;
}

.itemCreature:hover .flipCreature{
    transform: rotateY(-180deg);
}
.itemCreature:hover .projectTxtCreature{
    transform: rotateY(-360deg);
}

/*可持续生活*/
#Sustainable{
    height:430px;
    width:620px;
}
#sustainImg img{
    overflow: hidden;
}
#sustainEN{
    font-size: 24px;
    height:30px;
    margin-bottom: 15px;
}
.Fresh,.Consumption,.Plastic,.ecoLife{
    width:302px;
    height:540px;
    display: inline-block;
    margin: 10px 8px;
}